#header-Background {
    background-color: #000000;
    background: url(../../Images/background-Image.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-Container {
    background-color: var(--color-gray);
    padding: var(--spacer-3);
    border-radius: 0.5rem;
    display: inline-flex;
    max-width: 500px;
    margin: var(--spacer-2);
    animation: text-slide-down 800ms ease-in;
}

#header-Text h1 {
    font-size: 2rem;
    margin-bottom: var(--spacer-3);
    animation: color-change-header 500ms ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#header-Text p {
    font-size: clamp(14px, 2vw, 16px);
}

#socials-Button {
    color: white;
    border: 0;
    background-color: var(--color-blue);
    padding: var(--spacer-1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    border-radius: 2px;
    margin-top: var(--spacer-1);
    animation: button-slide-left 800ms ease-in;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
}

#socials-Button:hover {
    background-color: rgb(66, 118, 214, 0.8);
}

#socials-Button svg {
    margin-left: var(--spacer-1);
    fill: white;
    width: 15px;
    height: 15px;
}


@keyframes button-slide-left {
    0% {
        transform: translateX(-50px) skewX(-10deg);
        opacity: 0;
    }

    60% {
        transform: translateX(5px) skewX(-10deg);
    }

    80% {
        transform: translateX(-3px) skewX(-10deg);
    }

    100% {
        transform: translateX(0px) skew(-10deg);
        opacity: 1;
    }
}

@keyframes text-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    70% {
        transform: translateY(clamp(2px, 1vw, 8px));
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes color-change-header {

    0% {
        color: white;
    }

    100% {
        color: var(--color-orange);
    }
}