#Navbar-Container {
  background-color: var(--color-primary);
  height: clamp(55px, 5vw, 80px);
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Navbar-Wrapper {
  margin: 0 2rem;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Navbar-Logo {
  height: clamp(40px, 5vw, 55px);
  width: auto;
}

#Navbar-Link-List {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 5vw, 5rem);
  height: 100%;
}

#Navbar-Link-List a {
  font-size: clamp(14px, 2vw, 16px);
  padding: 0.5rem 0.5rem;
  transition: all 150ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 4px;
  border-bottom: 4px solid transparent;
}

#Navbar-Link-List a:hover {
  border-bottom: 4px solid var(--color-accent);
  transform: perspective(100px) scale(1.07);
}

#Navbar-Dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--color-primary);
  padding: 1.25rem;
  gap: 1.25rem;
  top: clamp(55px, 5vw, 80px);
  right: 0px;
  border-radius: 0 0 0 0.5rem;
  box-shadow: inset 0px 6px 6px -3px rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) 0px 3px 5px;
  transition: opacity 100ms ease-out;
  opacity: 0;
  visibility: hidden;
}

.hamburger-react {
  position: absolute !important;
  display: none;
  right: 6px;
  top: 3px;
}

@media screen and (max-width: 500px) {
  #Navbar-Link-List a {
    display: none;
  }

  .hamburger-react {
    display: flex;
  }

  #Navbar-Wrapper {
    margin: 0 1rem;
  }
}
