#navbar-Container {
    background-color: var(--color-gray);
    height: clamp(55px, 5vw, 80px);
    position: fixed;
    width: 100%;
    z-index: 2;
    outline: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
}

#navbar-Logo {
    height: clamp(35px, 5vw, 50px);
    animation: fade-in 1000ms ease-in;
    width: auto;
}

#navbar-Link-List {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 10vw, 8rem);
    height: 100%;
}

#navbar-Link-List a {
    font-size: clamp(14px, 2vw, 16px);
    padding: 0.25rem 0;
    transition: all 150ms ease-out;
    border-bottom: 2px solid transparent;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#navbar-Link-List a:hover {
    color: var(--color-blue);
    border-bottom: 5px solid white;
    font-weight: 500;
}

#navbar-Dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: var(--color-gray);
    animation: fade-in 150ms ease-in;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
}

#navbar-Dropdown a {
    color: white;
    width: 100%;
    padding: 0.8rem var(--spacer-1);
    border-bottom: 2px solid white;
    display: flex;
    font-size: 14px;
}

#navbar-Dropdown a:last-child {
    border-bottom: 2px solid var(--color-orange);
}

#navbar-Dropdown a:first-child {
    border-top: 2px solid var(--color-orange);
}

#navbar-Dropdown svg {
    margin: auto var(--spacer-1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hamburger-react {
    position: absolute !important;
    display: none;
    right: 6px;
    top: 3px;
}

@media screen and (max-width: 500px) {
    #navbar-Link-List a {
        display: none;
    }

    #navbar-Dropdown {
        display: none;
    }

    .hamburger-react {
        display: flex;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}