#project-Page-Wrapper {
    background-color: var(--color-gray);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-Page-Container {
    border-top: 3px solid var(--color-orange);
    border-bottom: 3px solid var(--color-orange);
    padding: var(--spacer-5) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--wrapper-width);
    margin: var(--spacer-5) var(--spacer-2);
}

#project-Card-Container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: clamp(var(--spacer-1), 2vw, var(--spacer-4));
}

.project-Card > * {
    width: 100%;
    height: clamp(250px, 50vw, 600px);
    background-color: rgb(255, 255, 255, 1);
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    transition: all 150ms ease-in;
    box-shadow: rgba(14, 30, 37, 0.4) 0px 2px 4px 0px, rgba(14, 30, 37, 0.7) 0px 2px 16px 0px;
}

.project-Card > *:hover {
    background-color: rgb(255, 255, 255, 0.85);
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.project-Card p {
    color: var(--color-orange);
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 1.5rem);
    text-align: center;
}

@media screen and (max-width: 1000px) {
    #project-Card-Container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .project-Card>*:hover {
        transform: none;
    }
}