#Comp-Title-Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Comp-Title-Wrapper {
  margin: 5rem 2rem;
  flex-direction: column;
  width: 1400px;
  display: flex;
  justify-content: left;
  align-items: start;
}

#Comp-Title-Container h3 {
  color: black;
  font-size: clamp(32px, 5vw, 48px);
}

#Comp-Title-Line {
  border-top: 4px solid var(--color-accent);
  width: 55%;
  margin-top: 0.5rem;
}

@media screen and (max-width: 500px) {
  #Comp-Title-Wrapper {
    margin: 5rem 1rem;
  }
}
