#footer-Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#footer-Container {
    width: var(--wrapper-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: clamp(60px, 5vw, 100px);
}

#footer-Container p {
    color: black;
    font-size: clamp(12px, 3vw, 16px);
}

#footer-Container svg {
    vertical-align: middle;
    margin-left: 0.4rem;
}

#contact {
    position: absolute;
    top: 0px;
}