@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  background-color: rgb(29, 29, 31);
  font-size: 16px;
}

:root * {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins;
  color: white;
  margin: 0;
  padding: 0;

  /* Variables */
  --color-gray: rgb(29, 29, 31);
  --color-gray-2: rgb(29, 29, 31, 0.90);
  --color-black: rgb(0, 0, 0);
  --color-blue: rgb(66, 118, 214);
  --color-orange: rgb(253, 121, 0);

  --wrapper-width: 1600px;
  --wrapper-spacer-top: 15rem;

  --spacer-1: 0.5rem;
  --spacer-2: 1rem;
  --spacer-3: 1.5rem;
  --spacer-4: 2.5rem;
  --spacer-5: 3rem;
}

/* Animation classes */

.slide-in-left {
  animation: slide-in-left 500ms ease-out;
}

.fade-in-down {
  animation: fade-in-down 1000ms ease-out;
}

/* Keyframes */

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  70% {
    transform: translateY(clamp(2px, 1vw, 8px));
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {

  0%,
  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes color-change {

  0%,
  70% {
    color: white;
  }

  100% {
    color: var(--color-orange);
  }
}